@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 33% 98%;
  --foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --primary: 220 73% 21%;
  --primary-foreground: 210 40% 98%;
  --secondary: 215 40% 96%;
  --secondary-foreground: 222 47% 11%;
  --muted: 215 40% 96%;
  --muted-foreground: 215 16% 47%;
  --accent: 214 95% 93%;
  --accent-foreground: 223 54% 22%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 219 82% 62%;
  --radius: 1rem;
}

html, body {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

#root {
  min-height: 100%;
}

/* util do CertHub (usado no Login) */
.dot-grid {
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 18px 18px;
}
