@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

/* util do CertHub (usado no Login) */
.dot-grid {
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 18px 18px;
}
